# Ignore everything in .cache
.cache/*
.cache/

# Keep .gitkeep in output
!output/.gitkeep

# Ignore the following directories
.gradle/
bin/
Reports/
Libs/
output/
build/
.settings/
.temp/
settings/

# Ignore .cache/Keywords and all its content
.cache/Keywords/

.project
