name: CI FOR KATALON ENGINE
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2.1
    - name: Katalon Studio Github Action
      uses: katalon-studio/katalon-studio-github-action@v2
      with:
          version: '10.0.0'
          projectPath: '${{ github.workspace }}'
          args: '-noSplash -retry=0 -testSuitePath="Test Suites/Test Suites/FE/Regression Suites/Regression test after deployments - AR" -browserType="TestCloud" -testcloudEnvironmentId="437" -testcloudTunnel="false" -executionProfile="SaaS-Prod-NT-Live" -apiKey="85154bfa-7201-47ab-891b-253ece8a3a85" -orgID=1714454 --config -proxy.auth.option=NO_PROXY -proxy.system.option=NO_PROXY -proxy.system.applyToDesiredCapabilities=true -webui.autoUpdateDrivers=true'
